version: 2
jobs:
  build:
    docker:
      - image: gcr.io/cloud-builders/dotnet

    steps:
      - checkout

      - run:
          name: Go to HelloWorld path
          command: |
            cd HelloWorld
            dotnet restore
